.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    input {
        margin: 0.4rem 0;
        line-height: 2;
        border: 2px solid black;
        border-radius: 4px;
        padding: 6px 4px;
    }
    .img-cat-selected {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 1rem auto;
    }
}
.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    height: max-content;
    img {
        width: 150px;
        height: 150px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}
